<html lang="en-us" dir="ltr"><head>
    <title>Site administration | Django site admin</title>
      <link rel="stylesheet" href="/assets/css/nav_sidebar.css">
      <script src="/assets/js/nav_sidebar.js" defer=""></script>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    <body class=" dashboard" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
    <h1 id="site-name"><a href="/assets/">Customer portal</a></h1>
            </div>
            <div id="user-tools">
                    Welcome,
                    <strong>sahar-bibas</strong>.
                        <a href="/">View site</a> /
                    <a href="/assets/password_change/">Change password</a> /
                    <form id="logout-form" method="post" action="/assets/logout/">
                        <input type="hidden" name="csrfmiddlewaretoken" value="gfXnloS2BVdjFoGd509WTVxccg0wkBd6u8WpgzIYTwtxCcM2ZMoOiokJmWrP1xIf">
                        <button type="submit">Log out</button>
                    </form>
            </div>
        </div>
        <!-- END Header -->
        <div class="main" id="main">
          <div class="content">
            <!-- Content -->
            <div id="content" class="colMS">
              <h1>Site administration</h1>
    <div id="content-main">
        <div class="app-auth module">
          <table>
            <caption>
              <a href="/assets/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
            </caption>
              <tbody><tr class="model-group">
                  <th scope="row"><a href="/assets/auth/group/">Groups</a></th>
                  <td><a href="/assets/auth/group/add/" class="addlink">Add</a></td>
                    <td><a href="/assets/auth/group/" class="changelink">Change</a></td>
              </tr>
              <tr class="model-user">
                  <th scope="row"><a href="/assets/auth/user/">Users</a></th>
                  <td><a href="/assets/auth/user/add/" class="addlink">Add</a></td>
                    <td><a href="/assets/auth/user/" class="changelink">Change</a></td>
              </tr>
          </tbody></table>
        </div>
        <div class="app-sub_app module">
          <table>
            <caption>
              <a href="/assets/sub_app/" class="section" title="Models in the Sub_App application">Sub_App</a>
            </caption>
              <tbody><tr class="model-mymodel">
            <th scope="row"><a href="/assets/sub_app/mymodel/">My models</a></th>
                  <td><a href="/assets/sub_app/mymodel/add/" class="addlink">Add</a></td>
                    <td><a href="/assets/sub_app/mymodel/" class="changelink">Change</a></td>
              </tr>
          </tbody></table>
        </div>
    </div>
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>Recent actions</h2>
            <h3>My actions</h3>
                <p>None available</p>
        </div>
    </div>
              <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
          </div>
        </div>
    </div>
    <!-- END Container -->
    </body></html>